:root {
  --color1: #414141;
  --color2: #2f2f2f;
  --color3: yellow;
  --color4: #fff;
  --color5: black;
}
.dark-theme {
  --color1: #414141;
  --color2: #2f2f2f;
  --color3: yellow;
  --color4: #fff;
  --color5: black;
}
.light-theme {
  --color1: #fff;
  --color2: #eaeaea;
  --color3: black;
  --color4: black;
  --color5: rgb(55, 55, 255);
}
body {
  background-color: var(--color1);
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color2);
  padding: 2% 0;
}
.fa {
  color: var(--color3);
  font-size: 30px;
  cursor: pointer;
  scale: 1;
  transition: all 0.3s;
}
.fa:hover {
  color: var(--color5);
  transition: all 0.3s;
}
.logo {
  color: var(--color4);
  font-weight: 700;
}
.search-bar {
  display: flex;
  margin-top: 5%;
  justify-content: center;
  font-size: 25px;
}
input {
  border-radius: 25px;
  border: 2px solid var(--color4);
  padding: 0.5% 2%;
}
.main-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.img {
  height: 325px;
  scale: 1;
  transition: all 0.3s;
  z-index: 1001;
}
.img:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
.btn {
  font-size: 40px;
  color: var(--color3);
}
#movie-row {
  margin-top: 2%;
}
.row {
  padding-bottom: 4%;
}
.body-main {
  background-color: var(--color1);
}
.movie-title {
  color: var(--color4);
  font-weight: 600;
  font-size: 27px;
}
.movie-year {
  color: var(--color4);
  font-weight: 600;
  font-size: 18px;
}
.movie-plot {
  color: var(--color3);
  font-weight: 600;
  font-size: 15px;
}
.fa-moon-o {
  display: none;
}
.wrap {
  display: grid;
  place-items: center;
}
.welcome-h {
  color: var(--color3);
  font-weight: 700;
  font-size: 45px;
}
.welcome-p {
  color: var(--color4);
  font-weight: 600;
  font-size: 22px;
}
.more-btn {
  background-color: none;
  border: none;
  font-weight: 600;
  color: red;
  cursor: pointer;
}
.more-btn:hover {
  opacity: 0.5;
}
.welcome-text {
  display: grid;
}
#app-cont {
  display: flex;
  justify-content: center;
  margin-top: -2%;
}
.app-info {
  display: none;
}
.add-title {
  color: var(--color4);
}
.add-year {
  color: var(--color3);
}
.add-author {
  color: var(--color4);
}
.add-plot {
  color: var(--color4);
  font-size: 24px;
}
.add-genre {
  color: red;
}
.add-lang {
  color: var(--color4);
}
